*{
padding: 0;
margin: 0;
}
h2{
    color: #dd890b;
    font-family: 'Mitr';
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 2;
    text-align: center;
}
/* header */
.backgrount {
    width: 100%;
    height: 120px;
    background-color: #19777f;
}
.boder-singe {
    padding: 0px 10px 5px;
    border-radius:40px;
    background-color: #19777f;
    border-color: #fff;
    color: #fff;
}
.dropdown{
    position: relative;
    display: inline-block;
 }
 /*sub-menu*/
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    z-index: 1;
    width: 350px;
    list-style: none;
 }
 .dropdown:hover .dropdown-content{
    display: block;
 }
 .dropdown button {
    border:0;
 }
 /* baner */
 .color-header {
     background-color: #8FBE00;
     margin: 0px;
 }
 .img-carry{
     background-color: aquamarine;
 }
 .bottom-imge{
    background-color: #8FBE00;
 }
 .img-carry h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}
.img-carry p{
    line-height: 40px;
    font-size: 17px;
}
.border-radio{
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,.2);
    margin-left: 50px;
}
.border-radio:hover {
    transform: translateY(-6px);
    box-shadow: 0px 30px 40px 0px rgba(0,0,0,.2);
}
.nen {
    padding: 0px;
    margin: 0;
    margin-left: -14px;
}
/* body */
.box-img img{
    border-radius: 100%;
}
.box-img img:hover {
    transform: translateY(-6px);
}
/* .bg-primary img:hover {
    transform: translateY(-6px);
} */
/* product */
.navs {
    font-size: 20px;
}
.box-boder {
    transition: transform .3s,box-shadow .3s,background-color .3s,color .3s,opacity .3s;
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.22);
}
.box-boder:hover {
    box-shadow: 0px 30px 40px 0px rgba(0,0,0,.2);
    transform: translateY(-6px);
}
.box-arres{
    margin-top: 10px;
}
.boder-vien{
    border-right: dashed #aaa 1px;	
}
.boder-top{
    border-top: dashed #aaa 1px;	
}
.scrollspy {
    width: 100%;
    height: 200px;
    overflow: auto;
    background-color: #f5f5f5;
}
.scrollspy p{
   background-color: #fff;
   border-radius: 20px;

}
.box-mt {
    background-color: #ddd;
    margin-top: 20px;
}
/* search */
.search-box {  
    display: inline-block;  
    width: 100%;  
    border-radius: 3px;  
    padding: 4px 55px 4px 15px;  
    position: relative;  
    background: #fff;  
    border: 1px solid #ddd;  
    -webkit-transition: all 200ms ease-in-out;  
    -moz-transition: all 200ms ease-in-out;  
    transition: all 200ms ease-in-out;
    }
     
    .search-box.hovered, .search-box:hover, .search-box:active {  
    border: 1px solid #aaa;
    }
     
    .search-box input[type=text] { 
     border: none;  
    box-shadow: none;  
    display: inline-block;  
    padding: 0;  
    background: transparent;
    }
     
    .search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {  
    box-shadow: none;
    }
     
    .search-box .search-btn {  
    position: absolute;  
    right: 2px;  
    top: -6px;  
    color: #aaa;  
    border-radius: 3px;  
    font-size: 21px;  
    padding: 0px 10px 1px;  
    -webkit-transition: all 200ms ease-in-out;  
    -moz-transition: all 200ms ease-in-out;  
    transition: all 200ms ease-in-out;
    }
     
    .search-box .search-btn:hover {  
    color: #fff;  
    background-color: #8FBE00;
    }
    


    .img-cover{
        object-fit: cover;
        width: 100%;
        background-size: cover;
        top: 0;
        bottom: 0;
        height: 100%;
        padding: 0 !important;
        height: auto;
    }
    .img-cover img{
        object-fit: cover;
        width: 100%;
        background-size: cover;
    }
    .img-cover img:hover{
        transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
       
    }